{{template "base" .}}

{{define "content" }}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is the HOME PAGE and it rocks!</h1>
      <p>We are using templates, easy no?</p>
      <p>This is the booking project</p>
    </div>
  </div>
</div>
{{end}}